{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.lwjgl/lwjgl {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl$natives-linux {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-vulkan {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-vma {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-vma$natives-linux {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-shaderc {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-shaderc$natives-linux {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-spvc {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-spvc$natives-linux {:mvn/version "3.3.6"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.apache.commons/commons-pool2 {:mvn/version "2.13.0"}
        com.taoensso/trove {:mvn/version "1.1.0"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.2"}
                io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.11"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}}}
